<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<!--th:replace="~{fragments/layout :: layout (~{::body},'sales-rep')}">-->
<head>
    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1">


    <title>InnoSessions | Sales Reps</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

    <link href='https://fonts.googleapis.com/css?family=Amita' rel='stylesheet'>
    <link rel="stylesheet" th:href="@{/resources/css/main.css}"/>
</head>


<body>
<div class="container">
    <nav class="navbar  navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle " data-toggle="collapse" data-target="#inn-navbar-collapsable">
                    <span class="icon-bar inn-nav-menu-button" >Menu</span>

                </button>
                <a class="navbar-brand" href="#" th:href="@{/}">InnoSessions</a>
                <!--th:href="@{{customerId}/orders/{orderId}/repairs/new(customerId=${customer.id},orderId=${order.id})}"-->

            </div>
            <div class="collapse navbar-collapse" id="inn-navbar-collapsable"/>
            <ul class="nav navbar-nav">
                <li><a class="inn-nav-text" href="#" th:href="@{/customers}">Customers</a></li>
                <li><a class="inn-nav-text" href="#" th:href="@{/sales-rep}">Sales Reps</a></li>
                <li><a class="inn-nav-text" href="#" th:href="@{/sales-rep/api}">API</a></li>

            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a class="inn-nav-login" href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
                <li><a class="inn-nav-login" href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
            </ul>
        </div>
    </nav>


    <h2>Sales Representatives</h2>

<table  class="table table-striped">
    <thead>
    <tr>
        <th>Name</th>
        <th>Specialties</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="salesRep : ${salesReps}">
        <td th:text="${salesRep.firstName + ' ' + salesRep.lastName}"></td>
        <td><span th:each="salesRepSpecialty : ${salesRep.specialties}"
                  th:text="${salesRepSpecialty.specialty + ' '}"/> <span
                th:if="${salesRepSpecialty?.specialties?.size() == 0}">none</span></td>
    </tr>
    </tbody>
</table>
</div>

</body>
</html>