
    :root{
 --global-font:amita;
 <!--&#45;&#45;primary:#ffffff;-->
      <!--&#45;&#45;accent:#77C9D4;-->
      <!--&#45;&#45;dark:#015249;-->
      <!--&#45;&#45;muted:#A5A5AF;-->
      <!--&#45;&#45;accent-bright:#57BC90;-->

      --primary:#18121E;
      --dark:#233237;
      --muted:#984B43;
      --accent:#EAC67A;
}

    @media only screen and (max-width: 1000px)  {
  #powered-by{
    display:none;
  }
}

@media only screen and (max-width: 770px)  {
  #jumbotron-jump{
    margin-top:300px;
  }
}

div p{
  font-size:15px;
}

ul{
  font-size:20px;
}

    .inn-vert-center{
      margin:20px 0 0 30px;
    }



    h1{
       font-family: var(--global-font)
    }

    .container{
      background-color:var(--primary);
    }

    .jumbotron{
      margin-top:70px;
      background: linear-gradient(to right, var(--accent) 0%, var(--dark) 100%);
      color:#ffffff;
    }

.navbar{
  background-color:var(--dark);
}

.navbar-brand{
  color:var(--accent);
}

.inn-nav-text{
        color:var(--muted);
    }
    .inn-jumbotron-right{
      position:relative; top:100px;
    }

    .inn-custom-text-stroke{
       color: #99999;
    }

    .inn-panel-heading{
      background-color:var(--muted);
    }

    .inn-accent-color{
      background-color:var(--accent);
    }

    #footer{
      background-color:var(--accent);
    }

